/* line 12, ../sass/base/_mixins.scss */
#main-page-wrapper .station .station-info {
  display: table-row;
  height: 100%;
}

/* line 17, ../sass/base/_mixins.scss */
#main-page-wrapper .station .station-info div {
  display: table-cell;
  vertical-align: middle;
}

/* line 22, ../sass/base/_mixins.scss */
#main-page-wrapper #main-header #logo, .venue-page-wrapper .venue-top-bar a {
  background: url(../images/logo.svg) no-repeat;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
}

/* line 6, ../sass/base/layout_and_globals.scss */
body {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzlmYjhlYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQ3NjlhZSIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-radial-gradient(#9fb8ec, #4769ae);
  background-image: -webkit-radial-gradient(#9fb8ec, #4769ae);
  background-image: radial-gradient(#9fb8ec, #4769ae);
}

@media (min-width: 550px) {
  /* line 11, ../sass/base/layout_and_globals.scss */
  .container {
    width: 90%;
    max-width: 90%;
  }
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-zdbu8");
  src: url("../fonts/icomoon.eot?#iefix-zdbu8") format("embedded-opentype"), url("../fonts/icomoon.ttf?-zdbu8") format("truetype"), url("../fonts/icomoon.woff?-zdbu8") format("woff"), url("../fonts/icomoon.svg?-zdbu8#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 28, ../sass/base/layout_and_globals.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 42, ../sass/base/layout_and_globals.scss */
.icon-play-arrow:before {
  content: "\e603";
}

/* line 7, ../sass/styles/stations.scss */
#main-page-wrapper {
  -moz-transition: -moz-transform 0.7s cubic-bezier(0.6, 0, 0.4, 1);
  -o-transition: -o-transform 0.7s cubic-bezier(0.6, 0, 0.4, 1);
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.6, 0, 0.4, 1);
  transition: transform 0.7s cubic-bezier(0.6, 0, 0.4, 1);
}
/* line 10, ../sass/styles/stations.scss */
#main-page-wrapper.scale-down-wrapper {
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
/* line 14, ../sass/styles/stations.scss */
#main-page-wrapper #main-header {
  position: relative;
  width: 100%;
  height: 275px;
  color: #FFF;
  background: url("../images/main_header.jpg") no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 23, ../sass/styles/stations.scss */
#main-page-wrapper #main-header .container div {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -260px;
  text-align: center;
}
/* line 33, ../sass/styles/stations.scss */
#main-page-wrapper #main-header #logo {
  position: absolute;
  top: 32px;
  left: 50%;
  width: 140px;
  height: 50px;
  margin-left: -70px;
  text-indent: -9999em;
}
/* line 44, ../sass/styles/stations.scss */
#main-page-wrapper #main-header h2, #main-page-wrapper #main-header h3 {
  width: 100%;
  margin: 0 auto;
}
/* line 48, ../sass/styles/stations.scss */
#main-page-wrapper #main-header h2 {
  line-height: 4rem;
  font-weight: 700 !important;
  letter-spacing: 0.1rem;
  font-size: 4rem;
  font-family: 'PT Sans', sans-serif;
}
/* line 55, ../sass/styles/stations.scss */
#main-page-wrapper #main-header h3 {
  margin-top: 20px;
  bottom: -230px;
  letter-spacing: 0.5rem;
  font-family: 'Trocchi', serif;
  font-size: 1.8rem;
  line-height: 2.3rem;
}
/* line 63, ../sass/styles/stations.scss */
#main-page-wrapper .station {
  position: relative;
  width: 100%;
  height: 187px;
  border-top: 2px solid #FFF;
  color: #FFF;
  background-repeat: no-repeat;
  background-position: center 30%;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 73, ../sass/styles/stations.scss */
#main-page-wrapper .station:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMDkxNTA2IiB5MT0iMC4zNDE1MDYiIHgyPSItMC4wOTE1MDYiIHkyPSIwLjY1ODQ5NCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC44Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -moz-linear-gradient(195deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  background-image: -webkit-linear-gradient(195deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  background-image: linear-gradient(-105deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}
/* line 82, ../sass/styles/stations.scss */
#main-page-wrapper .station .container {
  display: table;
  height: 100%;
}
/* line 86, ../sass/styles/stations.scss */
#main-page-wrapper .station .live-tag {
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  top: -8px;
  left: -36px;
  color: #FFF;
  border-left: 54px solid transparent;
  border-right: 54px solid transparent;
  border-bottom: 54px solid #db3036;
  letter-spacing: .5rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  z-index: 10;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 107, ../sass/styles/stations.scss */
#main-page-wrapper .station .live-tag:before {
  content: 'live';
  position: absolute;
  top: 28px;
  left: -25px;
}
/* line 117, ../sass/styles/stations.scss */
#main-page-wrapper .station .station-info div {
  position: relative;
  z-index: 5;
}
/* line 123, ../sass/styles/stations.scss */
#main-page-wrapper .station .station-info h2, #main-page-wrapper .station .station-info h3 {
  margin: 0;
}
/* line 127, ../sass/styles/stations.scss */
#main-page-wrapper .station .station-info h2 {
  font-size: 3rem;
}
/* line 130, ../sass/styles/stations.scss */
#main-page-wrapper .station .station-info h3 {
  font-size: 1.6rem;
}
/* line 133, ../sass/styles/stations.scss */
#main-page-wrapper .station .station-info a {
  text-decoration: none;
  color: #FFF;
}
/* line 136, ../sass/styles/stations.scss */
#main-page-wrapper .station .station-info .play-station-wrapper {
  text-align: right;
}
/* line 138, ../sass/styles/stations.scss */
#main-page-wrapper .station .station-info .play-station-wrapper .play-station-btn {
  font-size: 5.5rem;
  padding: 0px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #f18a26;
}
/* line 144, ../sass/styles/stations.scss */
#main-page-wrapper .station .station-info .play-station-wrapper .play-station-btn:hover {
  color: #FFF;
}

@media (min-width: 550px) {
  /* line 155, ../sass/styles/stations.scss */
  #main-page-wrapper #main-header {
    height: 325px;
  }
  /* line 157, ../sass/styles/stations.scss */
  #main-page-wrapper #main-header h2 {
    font-size: 6rem;
  }
  /* line 160, ../sass/styles/stations.scss */
  #main-page-wrapper #main-header h3 {
    margin-top: 30px;
    font-family: 'Trocchi', serif;
    font-size: 2.8rem;
    line-height: 2.8rem;
  }
  /* line 164, ../sass/styles/stations.scss */
  #main-page-wrapper #main-header #logo {
    left: 0;
    margin-left: 0;
  }
}
@media (min-width: 750px) {
  /* line 176, ../sass/styles/stations.scss */
  #main-page-wrapper .station .station-info h2 {
    font-size: 5rem;
  }
  /* line 179, ../sass/styles/stations.scss */
  #main-page-wrapper .station .station-info h3 {
    font-size: 2.4rem;
  }
  /* line 182, ../sass/styles/stations.scss */
  #main-page-wrapper .station .station-info .play-station-wrapper {
    text-align: right;
  }
  /* line 184, ../sass/styles/stations.scss */
  #main-page-wrapper .station .station-info .play-station-wrapper .play-station-btn {
    font-size: 9.5rem;
    padding: 5px;
  }
}
/* line 7, ../sass/styles/venue.scss */
.venue-page-wrapper {
  display: none;
  position: absolute;
  top: 0%;
  z-index: 10;
  width: 100%;
  -moz-transition: -moz-transform 0.7s cubic-bezier(0.6, 0, 0.4, 1);
  -o-transition: -o-transform 0.7s cubic-bezier(0.6, 0, 0.4, 1);
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.6, 0, 0.4, 1);
  transition: transform 0.7s cubic-bezier(0.6, 0, 0.4, 1);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
/* line 16, ../sass/styles/venue.scss */
.venue-page-wrapper.venue-show {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
/* line 20, ../sass/styles/venue.scss */
.venue-page-wrapper .venue-top-bar {
  width: 100%;
  height: 50px;
  background-color: #f18a26;
}
/* line 24, ../sass/styles/venue.scss */
.venue-page-wrapper .venue-top-bar a {
  display: block;
  position: absolute;
  top: 7px;
  width: 135px;
  height: 35px;
  text-decoration: none;
  color: #FFF;
  font-size: 3.4rem;
  line-height: 0;
}
/* line 36, ../sass/styles/venue.scss */
.venue-page-wrapper .venue-top-bar a span {
  margin: -18px;
}
/* line 42, ../sass/styles/venue.scss */
.venue-page-wrapper .venue-header-img {
  width: 100%;
  height: 236px;
  background-repeat: no-repeat;
  background-position: center 30%;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 50, ../sass/styles/venue.scss */
.venue-page-wrapper .venue-wrapper {
  width: 100%;
  background-color: #FFFFFF;
  position: relative;
  z-index: 99;
  padding-bottom: 55px;
}
/* line 58, ../sass/styles/venue.scss */
.venue-page-wrapper .venue-wrapper .venue-info img {
  width: 100%;
}
/* line 61, ../sass/styles/venue.scss */
.venue-page-wrapper .venue-wrapper .venue-info p {
  font-family: 'Trocchi', serif;
  font-size: 1.5rem;
  line-height: 2.6rem;
}
/* line 64, ../sass/styles/venue.scss */
.venue-page-wrapper .venue-wrapper .venue-info .venue-name-address {
  padding: 20px 0;
  font-family: 'PT Sans', sans-serif;
}
/* line 67, ../sass/styles/venue.scss */
.venue-page-wrapper .venue-wrapper .venue-info .venue-name-address h1, .venue-page-wrapper .venue-wrapper .venue-info .venue-name-address h3 {
  font-weight: 700 !important;
  margin: 0;
}
/* line 71, ../sass/styles/venue.scss */
.venue-page-wrapper .venue-wrapper .venue-info .venue-name-address h1 {
  font-size: 3rem;
}
/* line 74, ../sass/styles/venue.scss */
.venue-page-wrapper .venue-wrapper .venue-info .venue-name-address h3 {
  font-size: 1.93rem;
}
/* line 78, ../sass/styles/venue.scss */
.venue-page-wrapper .venue-wrapper .venue-info hr {
  clear: both;
  border-top: 1px solid #c1c1c1;
}
/* line 84, ../sass/styles/venue.scss */
.venue-page-wrapper .venue-wrapper .venue-recommends h3 {
  font-size: 2.7rem;
  font-weight: 700;
  text-align: center;
}
/* line 90, ../sass/styles/venue.scss */
.venue-page-wrapper .venue-wrapper .venue-recommends .record-thumbnail a {
  display: block;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  color: #000;
}
/* line 95, ../sass/styles/venue.scss */
.venue-page-wrapper .venue-wrapper .venue-recommends .record-thumbnail a:hover {
  text-decoration: underline;
}
/* line 100, ../sass/styles/venue.scss */
.venue-page-wrapper .venue-wrapper .venue-recommends .record-thumbnail img {
  width: 100%;
  max-width: 190px;
}
/* line 104, ../sass/styles/venue.scss */
.venue-page-wrapper .venue-wrapper .venue-recommends .record-thumbnail h4 {
  font-family: 'Trocchi', serif;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
}

@media (min-width: 550px) {
  /* line 118, ../sass/styles/venue.scss */
  .venue-page-wrapper .venue-wrapper .venue-recommends h3 {
    text-align: left;
  }
}
@media (min-width: 750px) {
  /* line 129, ../sass/styles/venue.scss */
  .venue-page-wrapper .venue-top-bar {
    height: 86px;
  }
  /* line 131, ../sass/styles/venue.scss */
  .venue-page-wrapper .venue-top-bar a {
    top: 20px;
    height: 45px;
    font-size: 4rem;
    line-height: 45px;
  }
  /* line 136, ../sass/styles/venue.scss */
  .venue-page-wrapper .venue-top-bar a span {
    margin: -20px;
  }
  /* line 141, ../sass/styles/venue.scss */
  .venue-page-wrapper .venue-header-img {
    height: 436px;
  }
  /* line 146, ../sass/styles/venue.scss */
  .venue-page-wrapper .venue-wrapper .venue-info p {
    font-family: 'Trocchi', serif;
    font-size: 2rem;
    line-height: 3.4rem;
  }
  /* line 149, ../sass/styles/venue.scss */
  .venue-page-wrapper .venue-wrapper .venue-info .venue-name-address {
    padding: 50px 0;
  }
  /* line 151, ../sass/styles/venue.scss */
  .venue-page-wrapper .venue-wrapper .venue-info .venue-name-address h1 {
    font-size: 5rem;
  }
  /* line 154, ../sass/styles/venue.scss */
  .venue-page-wrapper .venue-wrapper .venue-info .venue-name-address h3 {
    font-size: 2.93rem;
  }
}
/* line 1, ../sass/styles/header_links.scss */
#station-1, #station1 .venue-header-img {
  background-image: url("../images/station-1/station-1-small.jpg");
}

/* line 5, ../sass/styles/header_links.scss */
#station-2, #station2 .venue-header-img {
  background-image: url("../images/station-2/station-2-small.jpg");
}

@media (min-width: 550px) {
  /* line 10, ../sass/styles/header_links.scss */
  #station-1, #station1 .venue-header-img {
    background-image: url("../images/station-1/station-1-medium.jpg");
  }

  /* line 14, ../sass/styles/header_links.scss */
  #station-2, #station2 .venue-header-img {
    background-image: url("../images/station-2/station-2-medium.jpg");
  }
}
@media (min-width: 1000px) {
  /* line 21, ../sass/styles/header_links.scss */
  #station-1, #station1 .venue-header-img {
    background-image: url("../images/station-1/station-1-large.jpg");
  }

  /* line 25, ../sass/styles/header_links.scss */
  #station-2, #station2 .venue-header-img {
    background-image: url("../images/station-2/station-2-large.jpg");
  }
}
/* line 6, ../sass/styles/radio.scss */
#radio {
  position: fixed;
  z-index: 100;
  bottom: 0;
  width: 100%;
  height: 55px;
  background-color: #F2F2F2;
  border-top: 1px solid #cecece;
  -moz-transition: -moz-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
/* line 17, ../sass/styles/radio.scss */
#radio.radio-hide {
  -moz-transform: translateY(55px);
  -ms-transform: translateY(55px);
  -webkit-transform: translateY(55px);
  transform: translateY(55px);
}
/* line 21, ../sass/styles/radio.scss */
#radio #radio-control {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #333333;
  margin: 0;
}
/* line 22, ../sass/styles/radio.scss */
#radio #radio-control .icon-fast-forward:before {
  content: "\e600";
}
/* line 25, ../sass/styles/radio.scss */
#radio #radio-control .icon-fast-rewind:before {
  content: "\e601";
}
/* line 28, ../sass/styles/radio.scss */
#radio #radio-control .icon-pause:before {
  content: "\e602";
}
/* line 35, ../sass/styles/radio.scss */
#radio #radio-control li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 0;
  list-style-type: none;
}
/* line 40, ../sass/styles/radio.scss */
#radio #radio-control a {
  display: block;
  margin: 3px 0px 0;
  text-decoration: none;
  color: #333333;
  font-size: 3.5rem;
  -moz-transition: -moz-transform 0.1s ease-in-out;
  -o-transition: -o-transform 0.1s ease-in-out;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
}
/* line 47, ../sass/styles/radio.scss */
#radio #radio-control a:active {
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  color: #ABA;
}
/* line 53, ../sass/styles/radio.scss */
#radio #radio-volume-icon {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 2rem;
  cursor: pointer;
  margin-left: 30px;
}
/* line 54, ../sass/styles/radio.scss */
#radio #radio-volume-icon .icon-volume-high:before {
  content: "\ea26";
}
/* line 57, ../sass/styles/radio.scss */
#radio #radio-volume-icon .icon-volume-medium:before {
  content: "\ea27";
}
/* line 60, ../sass/styles/radio.scss */
#radio #radio-volume-icon .icon-volume-low:before {
  content: "\ea28";
}
/* line 63, ../sass/styles/radio.scss */
#radio #radio-volume-icon .icon-volume-mute:before {
  content: "\ea29";
}
/* line 71, ../sass/styles/radio.scss */
#radio #radio-volume {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
  width: 20%;
  height: 100%;
  max-width: 300px;
  overflow: hidden;
}
/* line 80, ../sass/styles/radio.scss */
#radio .volume-handler {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  margin: -11px 0 0 -11px;
  background-color: #FFF;
  border: 1px solid #919191;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
}
/* line 94, ../sass/styles/radio.scss */
#radio .volume-slider {
  display: block;
  position: absolute;
  top: 50%;
  width: 99%;
  height: 4px;
  margin-top: -4px;
  overflow: hidden;
  background-color: #919191;
  border: 1px solid #919191;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 107, ../sass/styles/radio.scss */
#radio .volume-percent {
  display: block;
  width: 50%;
  height: 100%;
  background-color: #FFF;
  cursor: pointer;
}
/* line 114, ../sass/styles/radio.scss */
#radio #thumnail-venue-wrapper {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding-top: 6px;
}
/* line 117, ../sass/styles/radio.scss */
#radio #thumnail-venue-wrapper div {
  width: 40px;
  height: 40px;
  overflow: hidden;
}
/* line 122, ../sass/styles/radio.scss */
#radio #thumnail-venue-wrapper img {
  width: 100%;
}
/* line 127, ../sass/styles/radio.scss */
#radio #radio-status {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 129, ../sass/styles/radio.scss */
#radio #radio-status h4, #radio #radio-status h5 {
  font-size: 1.2rem;
  margin: 0;
}
/* line 133, ../sass/styles/radio.scss */
#radio #radio-status h5 {
  color: #919191;
}

/* Larger than tablet */
@media (min-width: 750px) {
  /* line 142, ../sass/styles/radio.scss */
  #radio-control {
    margin: 0 0 0 40px;
  }
  /* line 144, ../sass/styles/radio.scss */
  #radio-control a {
    margin: 3px 10px 0;
  }

  /* line 149, ../sass/styles/radio.scss */
  #radio-status h4, #radio-status h5 {
    font-size: 1.5rem;
  }
}
