/* line 12, ../sass/base/_mixins.scss */
.station-info {
  display: table-row;
  height: 100%;
}

/* line 17, ../sass/base/_mixins.scss */
.station-info div {
  display: table-cell;
  vertical-align: middle;
}

/* line 22, ../sass/base/_mixins.scss */
#logo, .venue-top-bar a {
  background: url(../images/logo.svg) no-repeat;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
}

/* line 6, ../sass/base/layout_and_globals.scss */
body {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzlmYjhlYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQ3NjlhZSIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-radial-gradient(#9fb8ec, #4769ae);
  background-image: -webkit-radial-gradient(#9fb8ec, #4769ae);
  background-image: radial-gradient(#9fb8ec, #4769ae);
}

/* line 11, ../sass/base/layout_and_globals.scss */
#main-page-wrapper {
  -moz-transition: -moz-transform 0.7s cubic-bezier(0.6, 0, 0.4, 1);
  -o-transition: -o-transform 0.7s cubic-bezier(0.6, 0, 0.4, 1);
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.6, 0, 0.4, 1);
  transition: transform 0.7s cubic-bezier(0.6, 0, 0.4, 1);
}

/* line 15, ../sass/base/layout_and_globals.scss */
.scale-down-wrapper {
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}

/* line 19, ../sass/base/layout_and_globals.scss */
#main-header {
  position: relative;
  width: 100%;
  height: 275px;
  color: #FFF;
  background: url("../images/main_header.jpg") no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 27, ../sass/base/layout_and_globals.scss */
#main-header h2 {
  position: absolute;
  bottom: -230px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.5rem;
  font-family: 'Trocchi', serif;
  font-size: 1.8rem;
  line-height: 2.3rem;
}

/* line 37, ../sass/base/layout_and_globals.scss */
#logo {
  position: absolute;
  top: 35px;
  left: 50%;
  width: 140px;
  height: 50px;
  margin-left: -70px;
  text-indent: -9999em;
}

/* line 48, ../sass/base/layout_and_globals.scss */
.station {
  position: relative;
  width: 100%;
  height: 187px;
  border-top: 2px solid #FFF;
  color: #FFF;
  background-repeat: no-repeat;
  background-position: center 30%;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 58, ../sass/base/layout_and_globals.scss */
.station .container {
  display: table;
  height: 100%;
}
/* line 63, ../sass/base/layout_and_globals.scss */
.station:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMDkxNTA2IiB5MT0iMC4zNDE1MDYiIHgyPSItMC4wOTE1MDYiIHkyPSIwLjY1ODQ5NCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC44Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -moz-linear-gradient(195deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  background-image: -webkit-linear-gradient(195deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  background-image: linear-gradient(-105deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

/* line 74, ../sass/base/layout_and_globals.scss */
.station-link {
  cursor: pointer;
}

/* line 81, ../sass/base/layout_and_globals.scss */
.station-info div {
  position: relative;
  z-index: 5;
}
/* line 87, ../sass/base/layout_and_globals.scss */
.station-info h2, .station-info h3 {
  margin: 0;
}
/* line 91, ../sass/base/layout_and_globals.scss */
.station-info h2 {
  font-size: 3rem;
}
/* line 94, ../sass/base/layout_and_globals.scss */
.station-info h3 {
  font-size: 1.6rem;
}
/* line 97, ../sass/base/layout_and_globals.scss */
.station-info a {
  text-decoration: none;
  color: #FFF;
}

/* line 102, ../sass/base/layout_and_globals.scss */
.play-station-wrapper {
  text-align: right;
  padding-right: 10px;
}

/* line 107, ../sass/base/layout_and_globals.scss */
.play-station-btn {
  font-size: 5.5rem;
  padding: 0px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #f18a26;
}
/* line 113, ../sass/base/layout_and_globals.scss */
.play-station-btn:hover {
  color: #FFF;
}

/* line 118, ../sass/base/layout_and_globals.scss */
.live-tag {
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  top: -8px;
  left: -36px;
  color: #FFF;
  border-left: 54px solid transparent;
  border-right: 54px solid transparent;
  border-bottom: 54px solid #db3036;
  letter-spacing: .5rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  z-index: 10;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 139, ../sass/base/layout_and_globals.scss */
.live-tag:before {
  content: 'live';
  position: absolute;
  top: 28px;
  left: -25px;
}

/* line 147, ../sass/base/layout_and_globals.scss */
#station-1, #station1 .venue-header-img {
  background-image: url("../images/station-1/station-1-small.jpg");
}

/* line 151, ../sass/base/layout_and_globals.scss */
#station-2, #station2 .venue-header-img {
  background-image: url("../images/station-2/station-2-small.jpg");
}

/* line 3, ../sass/styles/mp3_player.scss */
#radio .icon-fast-forward:before {
  content: "\e600";
}
/* line 7, ../sass/styles/mp3_player.scss */
#radio .icon-fast-rewind:before {
  content: "\e601";
}
/* line 11, ../sass/styles/mp3_player.scss */
#radio .icon-pause:before {
  content: "\e602";
}
/* line 15, ../sass/styles/mp3_player.scss */
#radio .icon-play-arrow:before {
  content: "\e603";
}
/* line 19, ../sass/styles/mp3_player.scss */
#radio .icon-volume-high:before {
  content: "\ea26";
}
/* line 23, ../sass/styles/mp3_player.scss */
#radio .icon-volume-medium:before {
  content: "\ea27";
}
/* line 27, ../sass/styles/mp3_player.scss */
#radio .icon-volume-low:before {
  content: "\ea28";
}
/* line 31, ../sass/styles/mp3_player.scss */
#radio .icon-volume-mute:before {
  content: "\ea29";
}
@font-face {
  /* line 2, ../sass/styles/mp3_player.scss */
  #radio {
    font-family: 'icomoon';
    src: url("../fonts/icomoon.eot?-zdbu8");
    src: url("../fonts/icomoon.eot?#iefix-zdbu8") format("embedded-opentype"), url("../fonts/icomoon.ttf?-zdbu8") format("truetype"), url("../fonts/icomoon.woff?-zdbu8") format("woff"), url("../fonts/icomoon.svg?-zdbu8#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}
/* line 47, ../sass/styles/mp3_player.scss */
#radio [class^="icon-"], #radio [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 2, ../sass/styles/station_list.scss */
#main-page-wrapper {
  -moz-transition: -moz-transform 0.7s cubic-bezier(0.6, 0, 0.4, 1);
  -o-transition: -o-transform 0.7s cubic-bezier(0.6, 0, 0.4, 1);
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.6, 0, 0.4, 1);
  transition: transform 0.7s cubic-bezier(0.6, 0, 0.4, 1);
}

/* line 6, ../sass/styles/station_list.scss */
.scale-down-wrapper {
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}

/* line 10, ../sass/styles/station_list.scss */
#main-header {
  position: relative;
  width: 100%;
  height: 275px;
  color: #FFF;
  background: url("../images/main_header.jpg") no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 18, ../sass/styles/station_list.scss */
#main-header h2 {
  position: absolute;
  bottom: -230px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.5rem;
  font-family: 'Trocchi', serif;
  font-size: 1.8rem;
  line-height: 2.3rem;
}

/* line 28, ../sass/styles/station_list.scss */
#logo {
  position: absolute;
  top: 35px;
  left: 50%;
  width: 140px;
  height: 50px;
  margin-left: -70px;
  text-indent: -9999em;
}

/* line 39, ../sass/styles/station_list.scss */
.station {
  position: relative;
  width: 100%;
  height: 187px;
  border-top: 2px solid #FFF;
  color: #FFF;
  background-repeat: no-repeat;
  background-position: center 30%;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 49, ../sass/styles/station_list.scss */
.station .container {
  display: table;
  height: 100%;
}
/* line 54, ../sass/styles/station_list.scss */
.station:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMDkxNTA2IiB5MT0iMC4zNDE1MDYiIHgyPSItMC4wOTE1MDYiIHkyPSIwLjY1ODQ5NCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC44Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -moz-linear-gradient(195deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  background-image: -webkit-linear-gradient(195deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  background-image: linear-gradient(-105deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

/* line 65, ../sass/styles/station_list.scss */
.station-link {
  cursor: pointer;
}

/* line 72, ../sass/styles/station_list.scss */
.station-info div {
  position: relative;
  z-index: 5;
}
/* line 78, ../sass/styles/station_list.scss */
.station-info h2, .station-info h3 {
  margin: 0;
}
/* line 82, ../sass/styles/station_list.scss */
.station-info h2 {
  font-size: 3rem;
}
/* line 85, ../sass/styles/station_list.scss */
.station-info h3 {
  font-size: 1.6rem;
}
/* line 88, ../sass/styles/station_list.scss */
.station-info a {
  text-decoration: none;
  color: #FFF;
}

/* line 93, ../sass/styles/station_list.scss */
.play-station-wrapper {
  text-align: right;
  padding-right: 10px;
}

/* line 98, ../sass/styles/station_list.scss */
.play-station-btn {
  font-size: 5.5rem;
  padding: 0px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #f18a26;
}
/* line 104, ../sass/styles/station_list.scss */
.play-station-btn:hover {
  color: #FFF;
}

/* line 109, ../sass/styles/station_list.scss */
.live-tag {
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  top: -8px;
  left: -36px;
  color: #FFF;
  border-left: 54px solid transparent;
  border-right: 54px solid transparent;
  border-bottom: 54px solid #db3036;
  letter-spacing: .5rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  z-index: 10;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 130, ../sass/styles/station_list.scss */
.live-tag:before {
  content: 'live';
  position: absolute;
  top: 28px;
  left: -25px;
}

/* line 138, ../sass/styles/station_list.scss */
#station-1, #station1 .venue-header-img {
  background-image: url("../images/station-1/station-1-small.jpg");
}

/* line 142, ../sass/styles/station_list.scss */
#station-2, #station2 .venue-header-img {
  background-image: url("../images/station-2/station-2-small.jpg");
}

/* line 2, ../sass/styles/venue_page.scss */
.venue-page-wrapper {
  display: none;
  position: absolute;
  top: 0%;
  z-index: 10;
  width: 100%;
  -moz-transition: -moz-transform 0.7s cubic-bezier(0.6, 0, 0.4, 1);
  -o-transition: -o-transform 0.7s cubic-bezier(0.6, 0, 0.4, 1);
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.6, 0, 0.4, 1);
  transition: transform 0.7s cubic-bezier(0.6, 0, 0.4, 1);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

/* line 12, ../sass/styles/venue_page.scss */
.venue-show {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/* line 16, ../sass/styles/venue_page.scss */
.venue-top-bar {
  width: 100%;
  height: 50px;
  background-color: #f18a26;
}
/* line 20, ../sass/styles/venue_page.scss */
.venue-top-bar a {
  display: block;
  position: absolute;
  top: 7px;
  left: 20px;
  width: 135px;
  height: 35px;
  text-decoration: none;
  color: #FFF;
  font-size: 3.4rem;
  line-height: 0;
}
/* line 33, ../sass/styles/venue_page.scss */
.venue-top-bar a span {
  margin: -18px;
}

/* line 40, ../sass/styles/venue_page.scss */
.venue-header-img {
  width: 100%;
  height: 236px;
  background-repeat: no-repeat;
  background-position: center 30%;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 48, ../sass/styles/venue_page.scss */
.venue-wrapper {
  width: 100%;
  background-color: #FFFFFF;
  position: relative;
  z-index: 99;
  padding-bottom: 55px;
}

/* line 56, ../sass/styles/venue_page.scss */
.venue-name-address {
  padding: 20px 0;
  font-family: 'PT Sans', sans-serif;
}
/* line 59, ../sass/styles/venue_page.scss */
.venue-name-address h1, .venue-name-address h3 {
  font-weight: 700 !important;
  margin: 0;
}
/* line 63, ../sass/styles/venue_page.scss */
.venue-name-address h1 {
  font-size: 3rem;
}
/* line 66, ../sass/styles/venue_page.scss */
.venue-name-address h3 {
  font-size: 1.93rem;
}

/* line 72, ../sass/styles/venue_page.scss */
.venue-info img {
  width: 100%;
}
/* line 75, ../sass/styles/venue_page.scss */
.venue-info p {
  font-family: 'Trocchi', serif;
  font-size: 1.5rem;
  line-height: 2.6rem;
}

/* line 80, ../sass/styles/venue_page.scss */
hr {
  clear: both;
  border-top: 1px solid #c1c1c1;
}

/* line 87, ../sass/styles/venue_page.scss */
.venue-recommends h3 {
  font-size: 2.7rem;
  font-weight: 700;
  text-align: center;
}

/* line 95, ../sass/styles/venue_page.scss */
.record-thumbnail a {
  display: block;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  color: #000;
}
/* line 100, ../sass/styles/venue_page.scss */
.record-thumbnail a:hover {
  text-decoration: underline;
}
/* line 105, ../sass/styles/venue_page.scss */
.record-thumbnail img {
  width: 100%;
  max-width: 190px;
}
/* line 109, ../sass/styles/venue_page.scss */
.record-thumbnail h4 {
  font-family: 'Trocchi', serif;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
}
