@mixin big-caslon-font($font-size, $line-height) {
	font-family: 'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;
	font-size: $font-size;
	line-height: $line-height;
}

@mixin helvetica-neue-font($font-size) {
  	font-family: "Helvetica Neue", "HelveticaNeueBoldExtended", "HelveticaNeue-Bold-Extended", "Helvetica Neue Bold Extended", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  	font-weight: 600;
  	font-size: $font-size;
  	font-stretch: expanded;
}

@mixin removeDefaultAnchor($color:#FFF) {
	text-decoration:none;
	color:$color;
}

%table-row {
	display: table-row;
	height: 100%;
} 

%table-middle {
	display: table-cell;
	vertical-align: middle;
}

%pulse-logo {
	background:url(../images/logo.svg) no-repeat;
	@include background-size(contain);
}