$player-background: #F2F2F2;
$player-timer: #e5002c;
$player-main: #333333;
$player-info: #919191;

$pulse-top-bar: #f18a26;

$play-color: #f08c37;

$live-ribbon-color: #db3036;

$horizontal-bar: #c1c1c1;

$radio-height: 55px;
$volume-handler-size: 18px;