<div class="station" data-template-bind='[{"attribute": "style", "value": "bg_img_attr_val"}]'>
    <div class="container">
        <div class="station-info">
            <div class="station-name-address">
                <h2 data-content="name"></h2>
                <h3>
                    <span data-content="genres"></span>
                    &nbsp;–&nbsp;
                    <span data-content="location"></span>
                </h3>
            </div>
            <div class="play-station-wrapper">
                <a  data-template-bind='[{"attribute": "href", "value": "venue_el_id"}]'
                    class="play-station-btn icon-play-arrow"></a>
            </div>
        </div>
    </div>
</div>