<div class="venue-page-wrapper"  data-template-bind='[{"attribute": "id", "value": "venue_el_id"}]'>
    <div class="venue-top-bar">
        <div class="container">
            <a href="#back"></a>
        </div>
    </div>
    <div class="venue-header-img"></div>
    <div class="venue-wrapper">
        <article class="container venue-info">
            <div class="venue-name-address">
                <h1 >Aquarius Records</h1>
                <h3>1055 Valencia St., San Francisco, CA</h3>
            </div>
            <div class="row">
                <div class="eight columns">
                    <p>Within the confines of Aquarius Records is a plethora of music both old and new; Strange and wonderful; Eclectic and di
                        tsorienting. It’s nearly overwhelming when browsing. One of the few remaining haunts of the San Francisco that once existed, Aquarius Records is one of the oldest independent record stores in the city. Within the confines of Aquarius Records is a plethora of music both old and new; Strange and wonderful; Eclectic and disorienting. It’s nearly overwhelming when browsing. One of the few remaining haunts of the San Francisco that once existed, Aquarius Records is one of the oldest independent record stores in the city.</p>
                </div>
                <div class="four columns">
                    <img src="images/shop1-art-img.jpg" alt="">
                </div>
                <hr>
            </div>
        </article>
        <section class="container venue-recommends">
            <h3>Lorem records recommends...</h3>
            <div class="row">
                <div class="record-thumbnail three columns">
                    <a href="">
                        <img src="images/placeholders/recommend-placeholder.jpg" alt="">
                    </a>
                    <h4><a href="">Lorem ipsum</a></h4>
                </div>
                <div class="record-thumbnail three columns">
                    <a href="">
                        <img src="images/placeholders/recommend-placeholder.jpg" alt="">
                    </a>
                    <h4><a href="">Adipisicing elit</a></h4>
                </div>
                <div class="record-thumbnail three columns">
                    <a href="">
                        <img src="images/placeholders/recommend-placeholder.jpg" alt="">
                    </a>
                    <h4><a href="">Expedita ipsa libero animi. Culpa</a></h4>
                </div>
                <div class="record-thumbnail three columns">
                    <a href="">
                        <img src="images/placeholders/recommend-placeholder.jpg" alt="">
                    </a>
                    <h4><a href="">Dolore nobis officia, nam</a></h4>
                </div>
            </div>
        </section>
    </div>
</div>
