<div class="venue-page-wrapper" data-template-bind='[{"attribute": "id", "value": "venue_el_id"}]'>
    <div class="venue-top-bar">
        <div class="container">
            <a href="#back"></a>
        </div>
		<button class="contact" onclick="window.open('http://google.com','_blank')">get your own station</button>

    </div>
    <div class="venue-header-img" data-template-bind='[{"attribute": "style", "value": "main_banner_bg_img_attr_val"}]'></div>
    <div class="venue-wrapper">
        <article class="container venue-info">
            <div class="venue-name-address">
                <h1 data-content="name"></h1>
                <h3 data-content="location"></h3>
            </div>
            <div class="row">
                <div class="eight columns">
                    <p data-content="description"></p>
                </div>
                <div class="four columns">
                    <img data-template-bind='[{"attribute": "src", "value": "lower_banner_bg_img_attr_val"}]' alt="">
                </div>
                <hr>
            </div>
        </article>
        <section class="container venue-recommends">
            <h3 data-content="recommendations_title"></h3>
            <div class="row">
                <div class="record-thumbnail three columns">
                    <a data-template-bind='[{"attribute": "href", "value": "recommendation_1_url"}]' target="_blank">
                        <img data-template-bind='[{"attribute": "src", "value": "recommendation_1_thumbnail"}]' alt="">
                    </a>
                    <h4><a data-template-bind='[{"attribute": "href", "value": "recommendation_1_url"}]'
                           data-content="recommendation_1_name" target="_blank"></a></h4>
                </div>

                <div class="record-thumbnail three columns">
                    <a data-template-bind='[{"attribute": "href", "value": "recommendation_2_url"}]' target="_blank">
                        <img data-template-bind='[{"attribute": "src", "value": "recommendation_2_thumbnail"}]' alt="">
                    </a>
                    <h4><a data-template-bind='[{"attribute": "href", "value": "recommendation_2_url"}]'
                           data-content="recommendation_2_name" target="_blank"></a></h4>
                </div>

                <div class="record-thumbnail three columns">
                    <a data-template-bind='[{"attribute": "href", "value": "recommendation_3_url"}]' target="_blank">
                        <img data-template-bind='[{"attribute": "src", "value": "recommendation_3_thumbnail"}]' alt="">
                    </a>
                    <h4><a data-template-bind='[{"attribute": "href", "value": "recommendation_3_url"}]'
                           data-content="recommendation_3_name" target="_blank"></a></h4>
                </div>

                <div class="record-thumbnail three columns">
                    <a data-template-bind='[{"attribute": "href", "value": "recommendation_4_url"}]' target="_blank">
                        <img data-template-bind='[{"attribute": "src", "value": "recommendation_4_thumbnail"}]' alt="">
                    </a>
                    <h4><a data-template-bind='[{"attribute": "href", "value": "recommendation_4_url"}]'
                           data-content="recommendation_4_name" target="_blank"></a></h4>
                </div>
            </div>
        </section>
    </div>
</div>
