<div class="venue-page-wrapper" data-template-bind='[{"attribute": "id", "value": "venue_el_id"}]'>
    <div class="venue-top-bar">
        <div class="container">
            <a href="#back"></a>
        </div>
    </div>
    <div class="venue-header-img" data-template-bind='[{"attribute": "style", "value": "main_banner_bg_img_attr_val"}]'></div>
    <div class="venue-wrapper">
        <article class="container venue-info">
            <div class="venue-name-address">
                <h1 data-content="name"></h1>
                <h3 data-content="location"></h3>
            </div>
            <div class="row">
                <div class="eight columns">
                    <p data-content="description"></p>
                </div>
                <div class="four columns">
                    <img src="images/shop1-art-img.jpg" alt="">
                </div>
                <hr>
            </div>
        </article>
        <section class="container venue-recommends">
            <h3>Lorem records recommends...</h3>
            <div class="row">
                <div class="record-thumbnail three columns">
                    <a href="">
                        <img src="images/placeholders/recommend-placeholder.jpg" alt="">
                    </a>
                    <h4><a href="">Lorem ipsum</a></h4>
                </div>
                <div class="record-thumbnail three columns">
                    <a href="">
                        <img src="images/placeholders/recommend-placeholder.jpg" alt="">
                    </a>
                    <h4><a href="">Adipisicing elit</a></h4>
                </div>
                <div class="record-thumbnail three columns">
                    <a href="">
                        <img src="images/placeholders/recommend-placeholder.jpg" alt="">
                    </a>
                    <h4><a href="">Expedita ipsa libero animi. Culpa</a></h4>
                </div>
                <div class="record-thumbnail three columns">
                    <a href="">
                        <img src="images/placeholders/recommend-placeholder.jpg" alt="">
                    </a>
                    <h4><a href="">Dolore nobis officia, nam</a></h4>
                </div>
            </div>
        </section>
    </div>
</div>
