/* line 6, ../../sass/styles/radio.scss */
#radio {
  position: fixed;
  z-index: 100;
  bottom: 0;
  width: 100%;
  height: 55px;
  background-color: #F2F2F2;
  border-top: 1px solid #cecece;
  -moz-transition: -moz-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
/* line 17, ../../sass/styles/radio.scss */
#radio.radio-hide {
  -moz-transform: translateY(55px);
  -ms-transform: translateY(55px);
  -webkit-transform: translateY(55px);
  transform: translateY(55px);
}
/* line 21, ../../sass/styles/radio.scss */
#radio #radio-control {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #333333;
  margin: 0;
}
/* line 22, ../../sass/styles/radio.scss */
#radio #radio-control .icon-fast-forward:before {
  content: "\e600";
}
/* line 25, ../../sass/styles/radio.scss */
#radio #radio-control .icon-fast-rewind:before {
  content: "\e601";
}
/* line 28, ../../sass/styles/radio.scss */
#radio #radio-control .icon-pause:before {
  content: "\e602";
}
/* line 35, ../../sass/styles/radio.scss */
#radio #radio-control li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 0;
  list-style-type: none;
}
/* line 40, ../../sass/styles/radio.scss */
#radio #radio-control a {
  display: block;
  margin: 3px 0px 0;
  text-decoration: none;
  color: #333333;
  font-size: 3.5rem;
  -moz-transition: -moz-transform 0.1s ease-in-out;
  -o-transition: -o-transform 0.1s ease-in-out;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
}
/* line 47, ../../sass/styles/radio.scss */
#radio #radio-control a:active {
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  color: #ABA;
}
/* line 53, ../../sass/styles/radio.scss */
#radio #radio-volume-icon {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 2rem;
  cursor: pointer;
  margin-left: 30px;
}
/* line 54, ../../sass/styles/radio.scss */
#radio #radio-volume-icon .icon-volume-high:before {
  content: "\ea26";
}
/* line 57, ../../sass/styles/radio.scss */
#radio #radio-volume-icon .icon-volume-medium:before {
  content: "\ea27";
}
/* line 60, ../../sass/styles/radio.scss */
#radio #radio-volume-icon .icon-volume-low:before {
  content: "\ea28";
}
/* line 63, ../../sass/styles/radio.scss */
#radio #radio-volume-icon .icon-volume-mute:before {
  content: "\ea29";
}
/* line 71, ../../sass/styles/radio.scss */
#radio #radio-volume {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
  width: 20%;
  height: 100%;
  max-width: 300px;
  overflow: hidden;
}
/* line 80, ../../sass/styles/radio.scss */
#radio .volume-handler {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  margin: -11px 0 0 -11px;
  background-color: #FFF;
  border: 1px solid #919191;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
}
/* line 94, ../../sass/styles/radio.scss */
#radio .volume-slider {
  display: block;
  position: absolute;
  top: 50%;
  width: 99%;
  height: 4px;
  margin-top: -4px;
  overflow: hidden;
  background-color: #919191;
  border: 1px solid #919191;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 107, ../../sass/styles/radio.scss */
#radio .volume-percent {
  display: block;
  width: 50%;
  height: 100%;
  background-color: #FFF;
  cursor: pointer;
}
/* line 114, ../../sass/styles/radio.scss */
#radio #thumnail-venue-wrapper {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding-top: 6px;
}
/* line 117, ../../sass/styles/radio.scss */
#radio #thumnail-venue-wrapper div {
  width: 40px;
  height: 40px;
  overflow: hidden;
}
/* line 122, ../../sass/styles/radio.scss */
#radio #thumnail-venue-wrapper img {
  width: 100%;
}
/* line 127, ../../sass/styles/radio.scss */
#radio #radio-status {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 129, ../../sass/styles/radio.scss */
#radio #radio-status h4, #radio #radio-status h5 {
  font-size: 1.2rem;
  margin: 0;
}
/* line 133, ../../sass/styles/radio.scss */
#radio #radio-status h5 {
  color: #919191;
}

/* Larger than tablet */
@media (min-width: 750px) {
  /* line 142, ../../sass/styles/radio.scss */
  #radio-control {
    margin: 0 0 0 40px;
  }
  /* line 144, ../../sass/styles/radio.scss */
  #radio-control a {
    margin: 3px 10px 0;
  }

  /* line 149, ../../sass/styles/radio.scss */
  #radio-status h4, #radio-status h5 {
    font-size: 1.5rem;
  }
}
