/* line 12, ../../sass/base/_mixins.scss */
#main-page-wrapper .station .station-info {
  display: table-row;
  height: 100%;
}

/* line 17, ../../sass/base/_mixins.scss */
#main-page-wrapper .station .station-info div {
  display: table-cell;
  vertical-align: middle;
}

/* line 22, ../../sass/base/_mixins.scss */
#main-page-wrapper #main-header #logo {
  background: url(../images/logo.svg) no-repeat;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
}

/* line 7, ../../sass/styles/stations.scss */
#main-page-wrapper {
  -moz-transition: -moz-transform 0.7s cubic-bezier(0.6, 0, 0.4, 1);
  -o-transition: -o-transform 0.7s cubic-bezier(0.6, 0, 0.4, 1);
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.6, 0, 0.4, 1);
  transition: transform 0.7s cubic-bezier(0.6, 0, 0.4, 1);
}
/* line 10, ../../sass/styles/stations.scss */
#main-page-wrapper.scale-down-wrapper {
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
/* line 14, ../../sass/styles/stations.scss */
#main-page-wrapper #main-header {
  position: relative;
  width: 100%;
  height: 275px;
  color: #FFF;
  background: url("../images/main_header.jpg") no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 23, ../../sass/styles/stations.scss */
#main-page-wrapper #main-header .container div {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -260px;
  text-align: center;
}
/* line 33, ../../sass/styles/stations.scss */
#main-page-wrapper #main-header #logo {
  position: absolute;
  top: 32px;
  left: 50%;
  width: 140px;
  height: 50px;
  margin-left: -70px;
  text-indent: -9999em;
}
/* line 44, ../../sass/styles/stations.scss */
#main-page-wrapper #main-header h2, #main-page-wrapper #main-header h3 {
  width: 100%;
  margin: 0 auto;
}
/* line 48, ../../sass/styles/stations.scss */
#main-page-wrapper #main-header h2 {
  line-height: 4rem;
  font-weight: 700 !important;
  letter-spacing: 0.1rem;
  font-size: 4rem;
  font-family: 'PT Sans', sans-serif;
}
/* line 55, ../../sass/styles/stations.scss */
#main-page-wrapper #main-header h3 {
  margin-top: 20px;
  bottom: -230px;
  letter-spacing: 0.5rem;
  font-family: 'Trocchi', serif;
  font-size: 1.8rem;
  line-height: 2.3rem;
}
/* line 63, ../../sass/styles/stations.scss */
#main-page-wrapper .station {
  position: relative;
  width: 100%;
  height: 187px;
  border-top: 2px solid #FFF;
  color: #FFF;
  background-repeat: no-repeat;
  background-position: center 30%;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 73, ../../sass/styles/stations.scss */
#main-page-wrapper .station:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMDkxNTA2IiB5MT0iMC4zNDE1MDYiIHgyPSItMC4wOTE1MDYiIHkyPSIwLjY1ODQ5NCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC44Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -moz-linear-gradient(195deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  background-image: -webkit-linear-gradient(195deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  background-image: linear-gradient(-105deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}
/* line 82, ../../sass/styles/stations.scss */
#main-page-wrapper .station .container {
  display: table;
  height: 100%;
}
/* line 86, ../../sass/styles/stations.scss */
#main-page-wrapper .station .live-tag {
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  top: -8px;
  left: -36px;
  color: #FFF;
  border-left: 54px solid transparent;
  border-right: 54px solid transparent;
  border-bottom: 54px solid #db3036;
  letter-spacing: .5rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  z-index: 10;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 107, ../../sass/styles/stations.scss */
#main-page-wrapper .station .live-tag:before {
  content: 'live';
  position: absolute;
  top: 28px;
  left: -25px;
}
/* line 117, ../../sass/styles/stations.scss */
#main-page-wrapper .station .station-info div {
  position: relative;
  z-index: 5;
}
/* line 123, ../../sass/styles/stations.scss */
#main-page-wrapper .station .station-info h2, #main-page-wrapper .station .station-info h3 {
  margin: 0;
}
/* line 127, ../../sass/styles/stations.scss */
#main-page-wrapper .station .station-info h2 {
  font-size: 3rem;
}
/* line 130, ../../sass/styles/stations.scss */
#main-page-wrapper .station .station-info h3 {
  font-size: 1.6rem;
}
/* line 133, ../../sass/styles/stations.scss */
#main-page-wrapper .station .station-info a {
  text-decoration: none;
  color: #FFF;
}
/* line 136, ../../sass/styles/stations.scss */
#main-page-wrapper .station .station-info .play-station-wrapper {
  text-align: right;
}
/* line 138, ../../sass/styles/stations.scss */
#main-page-wrapper .station .station-info .play-station-wrapper .play-station-btn {
  font-size: 5.5rem;
  padding: 0px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #f18a26;
}
/* line 144, ../../sass/styles/stations.scss */
#main-page-wrapper .station .station-info .play-station-wrapper .play-station-btn:hover {
  color: #FFF;
}

@media (min-width: 550px) {
  /* line 155, ../../sass/styles/stations.scss */
  #main-page-wrapper #main-header {
    height: 325px;
  }
  /* line 157, ../../sass/styles/stations.scss */
  #main-page-wrapper #main-header h2 {
    font-size: 6rem;
  }
  /* line 160, ../../sass/styles/stations.scss */
  #main-page-wrapper #main-header h3 {
    margin-top: 30px;
    font-family: 'Trocchi', serif;
    font-size: 2.8rem;
    line-height: 2.8rem;
  }
  /* line 164, ../../sass/styles/stations.scss */
  #main-page-wrapper #main-header #logo {
    left: 0;
    margin-left: 0;
  }
}
@media (min-width: 750px) {
  /* line 176, ../../sass/styles/stations.scss */
  #main-page-wrapper .station .station-info h2 {
    font-size: 5rem;
  }
  /* line 179, ../../sass/styles/stations.scss */
  #main-page-wrapper .station .station-info h3 {
    font-size: 2.4rem;
  }
  /* line 182, ../../sass/styles/stations.scss */
  #main-page-wrapper .station .station-info .play-station-wrapper {
    text-align: right;
  }
  /* line 184, ../../sass/styles/stations.scss */
  #main-page-wrapper .station .station-info .play-station-wrapper .play-station-btn {
    font-size: 9.5rem;
    padding: 5px;
  }
}
